/* quitamos el padding y margin que se agrega automaticamente por el browser */
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: #F6F6F6;
    height: 100vh; /* v: es viewport (vista de la pagina) este viewport se agrega en el head del html. y h: heigth*/   
    box-sizing: border-box; /*evitar que este componente sea mas grande que el elemento padre. Osea que siempre quede dentro del elemento padre.*/
}

h1 {
    font-family: Krona One;
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.titulo-destaque {
    color:#22D4FD ;
}

img {
    width: 467.71px;
    height: 532px;
    top: 253px;
    left: 1032px;
    gap: 0px;
    border-radius: 16px 0px 0px 0px;
    opacity: 0px;

}

.ancla-instagram{
    background-color: #22D4FD;
    color: white;
    
}