@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* quitamos el padding y margin que se agrega automaticamente por el browser. De esta forma nos da mas accesibilidad para el estilo */
* {
    padding: 0;
    margin: 0;
}

/* Definir variables  */
:root{
    --color-primario : black;
    --color-secundario : #F6F6F6;
    --color-azul: #22D4FD; 
    --fuente-montserrat: "Montserrat", serif;
    --fuente-krona: "Krona One", serif;
    --color-hover: #272727;
}

body{
    /*height: 100vh; */ /* v: es viewport (vista de la pagina) este viewport se agrega en el head del html. h: heigth. Resumen vista alta.*/   
    box-sizing: border-box; /*evitar que este componente sea mas grande que el elemento padre. Osea que siempre quede dentro del elemento padre.*/
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-size: 24px;
    font-family: var(--fuente-montserrat);
    color: var(--color-azul);
    font-weight: 600; /*Escogemos el tipo de texto de la fuente seleccionada*/
    text-decoration: none;
    
}



.presentacion{
    display: flex; /* todo el codigo de css de este apartado tiene relacion con flexbox*/
    align-items: center; /* centrar los elementos en la pantalla*/
    padding: 5% 15%;
    justify-content: space-between; /* espacio entre los elementos */
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column; /* Aliar todo lo que esta dentro de esta clase como una columna*/
    gap: 40px; /*Espacio entre los elementos hijos*/
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-azul) ;
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column; /*ordenar como columnas*/
    align-items: center;
    gap: 32px; /*dar un espacio entre los elementos*/
}

.presentacion__enlaces__subtitulo{
    font-family: "Krona One", serif;
    font-size: 24px;
    padding: 20px
}

/*Esta clase la comparten ambos enlaces*/
.presentacion__enlaces__link{
    width: 378px;
    text-align: center;
    padding: 21.5px 0; /* vertical horizontal*/
    border-radius: 16px;
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600; /*Escogemos el tipo de texto de la fuente seleccionada*/
    text-decoration: none; /* Quitamos el subrayado que aparece en los enlaces s*/
    border: 2px solid var(--color-azul); /* Para agregar un borde, siempre debemos agregar el tamaño */
    border-radius: 8px;
    display: flex; /* al agregar la etiqueta img dentro del ancla se vuelve un container o cajon, por lo tanto se le agrega el display*/
    justify-content: center;
    gap: 10px;
}


/* Con esta propiedad hover, podemos cambiar de color cuando el mouse pase sobre el elemento*/
.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}

.footer {
    background-color: var(--color-azul);
    padding: 24px; /*dar padding al elemento en relacion con los contenedores.*/
    text-align: center;
    font-size: 24px;
    font-family: "Montserrat", serif;
    color:var(--color-primario);
}